# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
android/app/.cxx
/ios/build/
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/ios/Flutter/ephemeral

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
/nebula/local.settings
/nebula/MobileNebula.framework/
/nebula/mobileNebula-sources.jar
/nebula/vendor/
/android/app/src/main/libs/mobileNebula.aar
/nebula/mobileNebula.aar
/android/key.properties
/env.sh
/lib/gen.versions.dart
/lib/.gen.versions.dart
/lib/oss_licenses.dart
/ios/Flutter/.last_build_id
/local.properties
/.gradle/
*.keystore
/nebula/MobileNebula.xcframework/
/ios/MobileNebula.xcframework/
/android/build/reports/problems/problems-report.html
/.fvm/
/.fvmrc
