name: Flutter test
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/fluttercheck.yml"
      - "**.dart"

jobs:
  test:
    name: Run flutter test
    runs-on: macos-26
    strategy:
      matrix:
        os: [android, ios]

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
        with:
          show-progress: false

      # TODO: remove when https://go-review.googlesource.com/c/go/+/692935 lands in mainline go
      - name: Patch Go
        uses: DefinedNet/patch-go@c8e4a17c75eb242d34c212419d7d3d25e8d58949
        with:
          patch-ref: "296be05a97eb526dc0e438b7387670d4cae4a935"

      - uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 #v4.7.0
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Install flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e #v2.21.0
        with:
          flutter-version: "3.38.9"
          cache: true

      - name: install dependencies
        env:
          TOKEN: ${{ secrets.MACHINE_USER_PAT }}
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init
          flutter pub get
          touch env.sh

      - name: generate artifacts
        run: ./gen-artifacts.sh ${{ matrix.os }}

      - name: Run tests
        run: flutter test --coverage

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/lcov.info
        if: always()
