name: gofmt
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/gofmt.yml'
      - '.github/workflows/gofmt.sh'
      - '**.go'
jobs:

  gofmt:
    name: Run gofmt
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
        with:
          show-progress: false

      - name: Set up Go 1.25
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 #6.2.0
        with:
          go-version: '1.25'
          cache-dependency-path: nebula/go.sum

      - name: Install goimports
        working-directory: nebula
        run: |
          go get golang.org/x/tools/cmd/goimports
          go build golang.org/x/tools/cmd/goimports

      - name: gofmt
        run: $GITHUB_WORKSPACE/.github/workflows/gofmt.sh
