name: Swift format
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/swiftfmt.yml"
      - "**.swift"
jobs:
  swiftfmt:
    name: Run swift format
    runs-on: macos-26
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
        with:
          show-progress: false

      - name: Check formating
        run: ./swift-format.sh check
